@model IEnumerable<Workforce_Management.Models.TrainingProgram>


@{
    ViewBag.Title = "Training Programs";
}

<h2>Training Programs</h2>

<div class="row">
    @*<button class="btn btn-primary">Create Program</button>*@

    <p>
        @Html.ActionLink("Add New Program", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingProgramId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingProgramName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingProgramId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainingProgramName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TrainingProgramId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TrainingProgramId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainingProgramId })
                </td>
            </tr>
        }

    </table>
</div>



